@import '../../style/vars';

.welcome {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: calc(100% - 550px);
  color: $card-header-text;
  font-size: 1.5rem;
  font-family: 'futurabookcregular', sans-serif;

  @media (max-width: 550px) {
    padding-top: 0;
    width: 100%;
  }
  @media (min-width: 551px) and (max-width: 1019px) {
    padding: 2rem 0;
    width: 100%;
  }
}
