@import '../../style/vars';

.welcome {
  padding-top: 2rem;
  width: 100%;
  color: $card-header-text;
  text-align: center;
  font-family: 'futura_no2_d_demi_boldregular', sans-serif;
  font-size: 2rem;
}
