@import '../../style/vars';

.heroDetail {
  padding-top: 2rem;
  width: calc(100% - 550px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 550px) {
    padding-top: 0;
    width: 100%;
  }

  @media (min-width: 551px) and (max-width: 1019px) {
    width: 100%;
    padding: 2rem 0;
  }
}

.card {
  margin: 0 auto;
  width: 470px;
  border: 2px solid $card-border-color;
  border-radius: 1rem;
  background: $card-background;

  @media (max-width: 550px) {
    border: none;
    border-radius: 0;
    width: 100%;
  }
}

.info {
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;

  @media (max-width: 550px) {
    padding: 0 10px;
  }
}

.strong, .weak {
  // width: 155px;

  @media (max-width: 550px) {
    width: 38%;
  }
}
