@import '../../style/vars';

.heroDetail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: calc(100% - 550px);

  @media (max-width: 550px) {
    padding-top: 0;
    width: 100%;
  }
  @media (min-width: 551px) and (max-width: 1024px) {
    padding: 2rem 0;
    width: 100%;
  }
}

.card {
  margin: 0 auto;
  padding-bottom: .5rem;
  width: 470px;
  border: 2px solid $card-border-color;
  border-radius: 1rem;
  background: $card-background;

  @media (max-width: 550px) {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

.info {
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;

  @media (max-width: 550px) {
    padding: 0 10px;
  }
}

.strong, .weak {
  box-sizing: border-box;
  width: 38%;

  @media (max-width: 550px) {
    width: 37%;
  }
}
