@import '../../../style/vars';

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  width: 225px;

  @media (max-width: 550px) {
    width: 200px;
  }
}



.magic {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.column {
  height: 60px;
}
