@import '../../style/vars';

.selector {
  text-transform: uppercase;
  font-family: 'futuralightcregular';
  cursor: pointer;
}

.on {
  color: $list-selected-border;
  composes: selector;
}

.off {
  color: $card-text;
  composes: selector;

  &:hover {
    color: $card-text;
  }
}

.separator {
  margin: 0 .2rem;
  color: transparentize($card-text, .5);
}
