@import '../../style/vars';

.selector {
  text-transform: uppercase;
  font-family: 'futuralightcregular';
  cursor: pointer;
  text-shadow: 0 0 1px rgba(12, 47, 89, 0.08);
}

.on {
  color: $language-switcher-selected;
  composes: selector;
}

.off {
  color: $card-text;
  composes: selector;

  &:hover {
    color: $card-text;
  }
}

.separator {
  margin: 0 .2rem;
  color: transparentize($card-text, .5);
}
