@import '../../style/vars';

.container {
  height: 26px;
  text-decoration: none;

  @media (max-width: 330px) {
    height: 20px;
  }

  &:after {
    position: relative;
    top: -5px;
    color: $main-accent;
    content: '.info';
    text-transform: uppercase;
    font-style: normal;
    font-size: .8rem;
  }
}

:global {
  .overlogo {
    height: 26px;
    fill: $card-text;

    @media (max-width: 330px) {
      height: 20px;
    }

    .overlogo__triangle {
      fill: $main-accent;
    }
  }
}
