@import '../../style/vars';

.scale {
  box-sizing: border-box;
  margin-top: 4px;
  width: 24%;

  @media (max-width: 550px) {
    width: 26%;
    margin-top: 8px;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 8px;
  height: 50px;
}

.stripe {
  margin-right: 4px;
  width: 16.66%;
  height: 28px;
  border: 1px solid $hero-card-stripe;
  transform: skew(24.88rad);

  @media (max-width: 550px) {
    height: 20px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.filled {
  background-color: $hero-card-stripe;
  composes: stripe;
}

.empty {
  background-color: transparent;
  composes: stripe;
}
