@import '../../style/vars';

.wrapper {
  // position: absolute;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: $card-text;
  margin-bottom: 1rem;

  @media (min-width: 1024px) {
    margin-left: -2rem;
    margin-right: -2rem + $section-separator-width;
  }
}

.wrapperFullWidth {
  composes: wrapper;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.settingsIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: $card-text;
  cursor: pointer;

  &:hover {
    fill: lighten($card-text, 20%);
  }
}
