@import '../../style/vars';

.wrapper {
  // position: absolute;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: $card-text;
  margin-bottom: 1rem;

  @media (min-width: 1024px) {
    margin-left: -2rem;
    margin-right: -2rem + $section-separator-width;
  }
}

.wrapperFullWidth {
  composes: wrapper;
  padding: 1rem;
  margin: 0 0 1rem 0;
  background: repeating-linear-gradient(45deg,
                rgba(0, 0, 0, .9),
                rgba(0, 0, 0, .9) 3.5px,
                rgba(0, 0, 0, .8) 3.5px,
                rgba(0, 0, 0, .8) 7px),
              linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(16, 16, 16, 1));
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.settingsIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: $card-text;
  cursor: pointer;

  &:hover {
    fill: lighten($card-text, 20%);
  }
}
