@import '../../style/vars';

.wrapper {
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
  height: $header-height;
  position: absolute;
  color: $card-text;

  @media (max-width: 550px) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #121212;
  }

  @media (min-width: 551px) and (max-width: 1024px) {

  }
}

.logo {
  width: 276px;
  height: $header-height;
  background-image: url('static/img/overcounters-logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 550px) {
    width: 100%;
    margin: .5rem 0;
    height: $header-height/2;
  }
}

.battle {
  height: $header-height;
  line-height: $header-height;
  width: 15.125rem - $section-separator-width;
  align-self: flex-start;
  text-align: right;

  @media (max-width: 550px) {
    margin-bottom: $header-height/4;
    height: $header-height/2;
    line-height: $header-height/2;
    width: auto;
  }

  @media (min-width: 551px) and (max-width: 1024px) {
    width: auto;
    flex-grow: 1;
    margin-right: 1rem;
  }
}

.language {
  flex-grow: 1;
  text-align: right;

  @media (max-width: 550px) {
    height: $header-height/2;
  }

  @media (min-width: 551px) and (max-width: 1024px) {
    flex-grow: 0;
  }
}
