/* Header */

$header-height: 4rem;
$header-bg: #121212;
$loader-bg: #212944;

/* Heroes list */

$list-color: rgba(221, 221, 232, .8);
$section-separator-width: .175rem;

/* Hero Card */

$card-background: rgba(255, 255, 255, .54);
$card-header-text: #0c2f59;
$card-text: #8397CC;
$card-text-hover: #5b69a2;
$card-border-color: rgba(55, 88, 174, .56);
$hero-card-stripe: #DDDDE8;

$hero-top-color: #ffc200;
$hero-top-glow: rgba(255, 223, 46, 1);
$hero-top-border: #ffc200;

$hero-bad-color: #dec4c4;

/* Language switcher */
$main-accent: #ffe600;
