.overwatch {
  background-image: url('static/img/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-flow: row;

  @media (max-width: 1019px) {
    flex-flow: column;
  }
}
