@import '../../style/vars';

.heroesList {
  box-sizing: border-box;
  padding: $header-height + 2rem $section-separator-width + 3rem 3rem 3rem;
  min-height: 100vh;
  width: 550px;
  background: repeating-linear-gradient(45deg,
                rgba(0, 0, 0, .9),
                rgba(0, 0, 0, .9) 3.5px,
                rgba(0, 0, 0, .8) 3.5px,
                rgba(0, 0, 0, .8) 7px),
              linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(16, 16, 16, 1));
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 - $section-separator-width 0 0 0 rgba(255, 255, 255, .4);
  color: rgba(221, 221, 232, .8);

  @media (max-width: 550px) {
    padding: $header-height + 2rem 1rem 1rem 1rem;
    min-height: 0;
    width: 100%;
    box-shadow: none;
  }
  @media (min-width: 551px) and (max-width: 1024px) {
    padding: $header-height + 2rem 2rem 2rem 2rem;
    min-height: 0;
    width: 100%;
    box-shadow: none;
  }
}
