@import '../../style/vars';

.heroesList {
  box-sizing: border-box;
  padding: 2rem;
  padding-top: $header-height + 2rem;
  min-height: 100vh;
  margin-top: - $header-height;

  width: 550px;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85) 3.5px, rgba(0, 0, 0, .75) 3.5px, rgba(0, 0, 0, .75) 7px),
              linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(16, 16, 16, 1));
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(221, 221, 232, .8);

  @media (max-width: 550px) {
    margin-top: 0;
    padding: 1rem;
    min-height: 0;
    width: 100%;
  }
  @media (min-width: 551px) and (max-width: 1019px) {
    margin-top: 0;
    padding: 2rem;
    min-height: 0;
    width: 100%;
  }
}
