@import '../../style/vars';

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  width: 50%;
}



.magic {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.column {
  height: 60px;
}
