@import '../../style/vars';

.avatar {
  position: relative;
  overflow: hidden;
  margin-right: 1.65%;
  margin-bottom: 2rem;
  width: 15%;
  border-radius: .5rem;
  cursor: pointer;
  transform: skew(24.88rad) translateZ(0);
  transition: .05s;

  &:before {
    position: relative;
    display: block;
    padding-top: 110%;
    content: '';
  }
}

.normal {
  border-top: 3px solid $list-color;
  border-bottom: 3px solid $list-color;
  background-color: $list-normal-bg;
  composes: avatar;

  &:hover {
    border: none;
    background: $list-selected-bg;
    box-shadow: 0 0 1px 2px $list-selected-border,
                inset 20px 20px 50px 0 $list-selected-border;
    transform: skew(24.88rad) scale(1.10);
  }
}

.selected {
  z-index: 10;
  border: none;
  background: $list-selected-bg;
  box-shadow: 0 0 0 2px $list-selected-border,
              0 0 2px 2px $list-selected-glow,
              inset 0 0 1px 1px $list-selected-inner-glow,
              inset 20px 20px 50px 0 $list-selected-border,
              0 0 20px 0px $list-selected-outer-accent;
  transform: skew(24.88rad) scale(1.20);
  composes: avatar;

  &:hover {
    box-shadow: 0 0 0 2px $list-selected-border,
                0 0 2px 2px $list-selected-glow,
                inset 0 0 1px 1px $list-selected-inner-glow,
                inset 20px 20px 50px 0 $list-selected-border,
                0 0 20px 0px $list-selected-outer-accent;
    transform: skew(24.88rad) scale(1.20);
  }
}

.image {
  position: absolute;
  top: 0;
  left: -10%;
  display: block;
  height: 115%;
  transform: skew(-24.88rad) translateZ(0);
}
