@import '../../style/vars';

.avatar {
  position: relative;
  overflow: hidden;
  margin-right: 1.65%;
  margin-bottom: 2rem;
  width: 15%;
  border-radius: .5rem;
  cursor: pointer;
  transform: skew(24.88rad) translateZ(0);

  &:before {
    position: relative;
    display: block;
    padding-top: 110%;
    content: '';
  }
}

.normal {
  border-top: 3px solid $list-color;
  border-bottom: 3px solid $list-color;
  background-color: $list-normal-bg;
  composes: avatar;

  &:hover {
    border: none;
    // background: $list-selected-bg;
    box-shadow: 0 0 0px 4px white;
    transform: skew(24.88rad) scale(1.10);
  }
}

.selected {
  z-index: 10;
  border: none;
  background: $list-selected-bg;
  box-shadow: 0 0 3px 0 darken($list-selected-glow, 15%),
              0 0 0 8px white,
              0 0 5px 8px $list-selected-glow,
              inset 0 0 3px 0px $list-selected-glow,
              inset 20px 20px 50px 0 $list-selected-border,
              0 0 20px 8px $list-selected-outer-accent;
  transform: skew(24.88rad) scale(1.20);
  composes: avatar;

  &:hover {
    box-shadow: 0 0 3px 0 $list-selected-glow,
                  0 0 0 8px white,
                  0 0 5px 8px $list-selected-glow,
                  inset 0 0 3px 0px $list-selected-glow,
                  inset 20px 20px 50px 0 $list-selected-border,
                  0 0 20px 8px $list-selected-outer-accent;
    transform: skew(24.88rad) scale(1.20);
  }
}

.image {
  position: absolute;
  top: 0;
  left: -10%;
  display: block;
  height: 118%;
  transform: skew(-24.88rad) translateZ(0) scale(1);
}
