@font-face {
    font-family: 'bignoodletooregular';
    src: url('./fonts/bignoodletoo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bignoodletooobliqueitalic';
    src: url('./fonts/bignoodletoooblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futuralightcregular';
    src: url('./fonts/futuralightc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
