@font-face {
    font-family: 'bignoodletooregular';
    src: url('./fonts/bignoodletoo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bignoodletooobliqueitalic';
    src: url('./fonts/bignoodletoooblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futurabookcregular';
    src: url('./fonts/futurabookc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
  position: relative;
  top: 7px;
  margin-right: 6px;
  width: 22px;
  height: 24px;
  fill: rgba(221, 221, 232, .6);
}
