@import '../../style/vars';

.wrapper {
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
  color: $card-text;
  text-decoration: none;
  font-size: 1.375rem;
  font-family: 'bignoodletooobliqueitalic', Impact, sans-serif;
  cursor: pointer;
  height: 50px;

  @media (max-width: 550px) {
    font-size: 1rem;
  }

  & > .name {
    margin-left: .3rem;
  }
  &:hover > .avatar {
    border-color: $card-text-hover;
  }
  &:hover > .goodAvatar {
    border-color: $hero-top-border;
  }
  &:hover > .badAvatar {
    // border-color: darken($hero-bad-color, 5%);
  }
  &:hover > .name {
    color: $card-text-hover;
  }
  &:hover > .goodName {
    color: $hero-top-color;
    text-shadow: 0 0 2px $hero-top-glow;
  }
  &:hover > .badName {
    // color: darken($hero-bad-color, 5%);
  }
}

.name {
  position: relative;
  top: -1px;
  transition: color .1s;
}

.goodName {
  composes: name;
  color: $hero-top-color;
  text-shadow: 0 0 1px transparentize($hero-top-glow, .5);
}

.badName {
  composes: name;
  // color: $hero-bad-color;
}

.wrapperLeft {
  text-align: right;
  composes: wrapper;

  & > .name {
    margin-right: .8rem;
    margin-left: 0;
  }
}

.avatar {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 35px;
  border-top: 3px solid $card-text;
  border-bottom: 3px solid $card-text;
  border-radius: .5rem;
  background-color: transparent;
  cursor: pointer;
  transition: border-color .1s;
  transform: skew(24.88rad);

  &:before {
    position: relative;
    display: block;
    padding-top: 110%;
    content: '';
  }
}

.goodAvatar {
  composes: avatar;
  border-color: $hero-top-border;
  box-shadow: inset 0 0 1px 1px $hero-top-glow;
}

.badAvatar {
  composes: avatar;
  // border-color: $hero-bad-color;

  & > .image {
    // opacity: .5;
  }
}

.image {
  position: absolute;
  top: 0;
  left: -12%;
  display: block;
  height: 10%;
  transform: skew(-24.88rad) scale(1);
}
